@model UserDto
@using PortfolioProject.Data

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br />
            <br />
            <br />
            <br />
            <div class="container">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile Number </th>




                        </tr>
                    </thead>
                    <tbody>
                        <br />
                        <br />
                        <br />
                        <br />
                        @{

                            foreach (var x in (List<UserDto>)ViewBag.User)
                            {
                                <tr>

                                    <td>@x.FirstName</td>
                                    <td>@x.LastName</td>
                                    <td>@x.PortfolioEmail</td>
                                    <td>@x.MobileNumber</td>
                                    <td> @Html.ActionLink("Show", "ShowUser", "Admin", new { UserId = x.UserId }, new { @style = "background:#18d26e ", @class = "btn text-white " })</td>


                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </header>

    </div>
</section>